*
{
    border: 0;
    margin:0;
    box-sizing: border-box;

}
html,
body
{
    width: 100%;
    height: 100%;
}
::-webkit-scrollbar {
  display: none;
}
nav
{
    height: 10%;
    width: 100%;
    background-color: rgb(9, 9, 65);
    color: yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;

}
.navlink
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
}
.set-opt
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.theme
{

}
.hamburger
{
    display: none;
}
#main
{
    width: 100%;
    background-color: rgb(8, 8, 91);
    display: flex;
    flex-direction: column;

}
.intro
{
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px;
height: 44vmax;
width: 100%;
color: yellowgreen;

}
.block1
{
width: 50%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.block2
{
width: 50%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background: linear-gradient(to right,red ,blue);
}
.intro-dash
{
    display: flex;
justify-content: space-between;
align-items: center;
padding: 30px;
height: 44vmax;
width: 100%;
color: yellowgreen;
background-color: rgb(67, 3, 70);
}
.block3
{
width: 50%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.block4
{
width: 50%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background: linear-gradient(to right,rgb(23, 187, 83) ,blue);
}
.features
{
     display: flex;
justify-content: space-between;
align-items: center;
padding: 30px;
height: 40vmax;
width: 100%;
color: yellowgreen;
background-color: rgb(27, 151, 149);
}
.micro-Interaction
{
    display: flex;
justify-content: space-between;
align-items: center;
padding: 30px;
height: 20vmax;
width: 100%;
color: yellowgreen;
background-color: rgb(182, 9, 104);
}
.Quick-guide{
     display: flex;
justify-content: space-between;
align-items: center;
padding: 30px;
height: 40vmax;
width: 100%;
color: yellowgreen;
background-color: rgb(234, 5, 5);
}
footer
{
     display: flex;
justify-content: space-between;
align-items: center;
padding: 30px;
height: 20vmax;
width: 100%;
color: yellowgreen;
background-color: rgb(121, 10, 10);
}
@media (max-width:600px) {

 nav
{
    height: 10%;
    width: 100%;
    background-color: rgb(8, 8, 44);
    color: yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    font-size: 10px;
    gap: 50px;

}
.log{
    font-size: 1rem;
}
.navlink
{
    display: none; 
}
.set-opt
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.theme
{

}
.hamburger
{
    display: inline-block;
}
#main
{
    width: 100%;
    background-color: rgb(1, 1, 39);
}
.intro
{
display: flex;
flex-direction: column-reverse;
justify-content: space-between;
align-items: center;
padding: 5px;
height: 70vmax;
width: 100%;
gap: 10px;
color: yellowgreen;
}
.block1
{
width: 100%;
height: 50vmax;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.block2
{
width: 100%;
height: 50vmax;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.intro-dash
{
  display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
padding: 5px;
height: 70vmax;
width: 100%;
gap: 10px;
color: yellowgreen;
}
.block3
{
width: 100%;
height: 50vmax;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.block4
{
width: 100%;
height: 50vmax;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.features
{
     display: flex;
flex-direction: column;
align-items: center;
padding: 5px;
height: 50vmax;
width: 100%;
color: yellowgreen;
background-color: blue;
}
.micro-Interaction
{
   display: flex;
flex-direction: column;
align-items: center;
height: 30vmax;
width: 100%;
color: rgb(46, 7, 218);
}
.Quick-guide{
 display: flex;
flex-direction: column;
align-items: center;
padding: 5px;
height: 40vmax;
width: 100%;
color: rgb(40, 16, 177);
background-color: rgb(247, 39, 12);
}
footer
{
     display: flex;
justify-content: space-between;
align-items: center;
padding: 30px;
height: 35vmax;
width: 100%;
color: yellowgreen;
background-color: rgb(121, 10, 10);
}
}